/* Magic Scroll Bar */
/* github.com/BlesslinJerishR/Xenon */

html {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html,body {
    overflow-x: hidden !important;
    background-color: #1d1e21;
    color: #FFF;
}

body {
    overflow-x: hidden;
    background-color: #1d1e21;
    color: #FFF;
}

#moveit{
    position: relative;
    top: 50px;
    height: 3000px;
}